* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #263238;
}

.container {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  font-size: 20px;
}
